*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 10px;
    background-color: mediumvioletred;
    color: white;
    line-height: 1.5;
    box-shadow: 0px 2px 15px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.gamecontainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:100px 100px 100px;
    justify-content: center;
}
.box{
    text-align: center;
    border: 1px solid black;
}
.boxtext{
    font-size: 86px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box:hover{
    background-color: rgba(208, 166, 246, 0.403);
    cursor: pointer;
}

.bt-0{
    border-top: 0;
}
.bl-0{
    border-left:0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom:0;
}

.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
}
.info img{
    height:0;
    transition: height 1s ease-in-out;
}

#turn{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    transition: all 3s ease-in-out;
}
.resetbtn{
    text-align: center;
}
.resetbtn button{
    margin: 10px;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px black;
    background-color: mediumvioletred;
    color: white;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
}
#reset:hover{
    background-color:rgba(199, 21, 134, 0.597);
}

@media (max-width:1024px) {
        .gamecontainer{
           flex-wrap: wrap;
        }
}
